*{
    margin:0;
    padding:0;
    text-align: center;
}
h1{
    height:5rem;
    background-color:black ;
    color: white;
    line-height: 5rem;
}
.chance{
    height: 170px;
    width: 170px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
}
img{
    height:150px;
    width: 150px;
    border-radius: 50%;
   
}

.chances{
    margin-top:3rem;
    gap:3rem;
    display:flex;
    justify-content:center;
    align-items:center;
}
.chance:hover{
    background-color:rgb(30, 97, 4);
    cursor:pointer;

}
.scoring{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:5rem;
    margin-top: 3rem;
    font-size: 3rem;
}
#user , #comp{
    font-size: 3rem;
}
#msg{
    background-color: #1E90FF;
    font-size: 2rem;
    display: inline;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
}
.message{
    margin-top: 3rem;
}